<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
    <title>Document</title>
</head>
<body>    

    <div class="container login-container">
         <div class="row">
            <div class="card">
                <div class="card-content">                
                    <div class ="center-align">
                        <h1>Log in</h1>
                        <h5 class="red-text">    
                            <% if (locals.messages.errors) { %>
                                <% messages.errors.forEach( el => { %>
                                <div class="alert alert-danger"><%= el.msg %></div>
                                <% }) %>    
                            <% } %>
                                <% if (locals.messages.info) { %>
                                <% messages.info.forEach( el => { %>
                                <div class="alert alert-danger"><%= el.msg %></div>
                                <% }) %>    
                            <% } %>
                        </h5>
                    </div> 

                    <div class="row">
                        <form action="/login" method="POST" class="col s12 m8 l6 offset-l3 offset-m2"> 
    
    
                            <div class="row">
                                <input placeholder="Email" id="email" type="text" class="validate" name="email">
                                <label for="email"></label> 
                            </div>


                            <div class="row">
                                <input placeholder="Password" id="password" type="password" class="validate" name="password">
                                <label for="password"></label>  
                            </div>

                            <div class="row"></div>
                            
                            <div class="col s12 m1">
                                <input class="waves-effect waves-light btn-large" type="submit">
                            </div>


                        </form> 
                    </div>
                    <div class="row"></div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>