<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
</head>
<body>
    

    <div class="container login-container">
        <div class="card">
            <div class="card-content">
                <div class ="center-align">
                    <h1>Sign Up</h1>
                
                <h5 class="red-text">
                    <% if (locals.messages.errors) { %>
                        <% messages.errors.forEach( el => { %>
                            <div class="alert alert-danger"><%= el.msg %></div>
                        <% }) %>    
                    <% } %>
                </h5>
                </div>
                <div class="container"> 
                    <form action="/signup" method="POST">
                        <input placeholder="User Name" id="userName" type="text" class="validate" name="userName">
                        <label for="userName"></label>                    
                        <input placeholder="Email" id="email" type="email" class="validate" name="email">
                        <label for="email"></label>  
                        <input placeholder="Password" id="password" type="password" class="validate" name="password">
                        <label for="password"></label>
                        <span class="helper-text grey-text text-darken-1" data-error="wrong" data-success="right">(Password must be at least 8 characters long)</span>
                        <input placeholder="Confirm Password" id="confirmPassword" type="password" class="validate" name="confirmPassword">
                        <label for="password"></label>
                        <input class="waves-effect waves-light btn-large" type="submit">
                    </form>
                </div> 
            </div>       
        </div>
    </div>





</body>
</html>